RewriteEngine On # Turn on the rewriting engine
RewriteRule ^ping check.php [NC,L]
RewriteRule ^kebutuhan/detail/([^/]+)/?$ kebutuhan.php?id=$1 [L]
RewriteRule ^kebutuhan/list kebutuhan.php

Options -Indexes
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://caricapps.herokuapp.com"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
    Header set Access-Control-Allow-Methods "DELETE, POST, GET, OPTIONS"
    Header set Content-Type "application/json"
</IfModule>